In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import pyplot

# Data Analyses on Titanic Dataset

## Dataset Source and Description
### Titanic dataset includes data about which passengers survived the Titanic shipwreck
### Source: https://www.kaggle.com/competitions/titanic/data

In [7]:
# ### Dataset Dictionary
# 
# <table>
# <tbody>
# <tr><th><b>Variable</b></th><th><b>Definition</b></th><th><b>Key</b></th></tr>
# <tr>
# <td>survival</td>
# <td>Survival</td>
# <td>0 = No, 1 = Yes</td>
# </tr>
# <tr>
# <td>pclass</td>
# <td>Ticket class</td>
# <td>1 = 1st, 2 = 2nd, 3 = 3rd</td>
# </tr>
# <tr>
# <td>sex</td>
# <td>Sex</td>
# <td></td>
# </tr>
# <tr>
# <td>Age</td>
# <td>Age in years</td>
# <td></td>
# </tr>
# <tr>
# <td>sibsp</td>
# <td># of siblings / spouses aboard the Titanic</td>
# <td></td>
# </tr>
# <tr>
# <td>parch</td>
# <td># of parents / children aboard the Titanic</td>
# <td></td>
# </tr>
# <tr>
# <td>ticket</td>
# <td>Ticket number</td>
# <td></td>
# </tr>
# <tr>
# <td>fare</td>
# <td>Passenger fare</td>
# <td></td>
# </tr>
# <tr>
# <td>cabin</td>
# <td>Cabin number</td>
# <td></td>
# </tr>
# <tr>
# <td>embarked</td>
# <td>Port of Embarkation</td>
# <td>C = Cherbourg, Q = Queenstown, S = Southampton</td>
# </tr>
# </tbody>
# </table>

In [8]:
# 1st = Upper
# 2nd = Middle
# 3rd = Lower
# 
# Age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5
# 
# Sibsp: The dataset defines family relations in this way:
# 
# 	Sibling = brother, sister, stepbrother, stepsister
# 	Spouse = husband, wife (mistresses and fianc√©s were ignored)
# 
# Parch: The dataset defines family relations in this way:
# 
# 	Parent = mother, father
# 	Child = daughter, son, stepdaughter, stepson
# Some children travelled only with a nanny, therefore parch=0 for them.
# 
# 

# ## Data Analyses Goal
# 
# We'll analyse the dataset in order to be able to answer next questions:
# 
# 1. Did the sex of the passengers affect the chances of surviving?
# 
# 2. Did Age effect the chances of surviving?
# 
# 3. Did the Port of Embarkation affect the chances of surviving?
# 
# 

# ## Data Acquisition